*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.container{
   width: calc(100% - 330px); 
   margin: auto;
}
.row{
    display: flex;
    
}
.header{
    display: flex;
    flex-wrap: wrap;
    margin-top: 21.84px;   
    text-align: center;
    
}
.header .row{
    justify-content: space-between;
}
.list ul{
    display: flex;
    gap: 60px;
}
.icons ul{
    display: flex;
    gap: 24px;
}
.collections{
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    
}
.collections .row{
    gap: 30px;
}
.collection{
    width: calc(100% / 4);
    text-align: center;
    font-st

}
.collection img{
    width: 100%;
}